<h1 mat-dialog-title>New Meeting</h1>
<form class="example-form" [formGroup]="meetingForm">
  <input type="hidden" formControlName="id" name="id">
  <mat-form-field class="example-full-width">
      <mat-label>Nome da Reunião</mat-label>
      <input matInput placeholder="" formControlName="formName" name="meetingName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <mat-label>Assunto da Reunião</mat-label>
      <input matInput placeholder="" formControlName="formSubject" name="meetingSubject">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Responsável da Reunião</mat-label>
    <input matInput placeholder="" formControlName="formResponsible" name="meetingResponsible">
  </mat-form-field>

  <div fxLayout="row wrap">
    <div fxFlex="50" fxFill fxLayoutAlign="start center">
        <mat-form-field>
            <mat-label>Data da Reunião</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="formDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div fxFlex="50" fxFill fxLayoutAlign="start center">
      <mat-form-field>
          <mat-label>Hora da Reunião</mat-label>
          <input matInput type="time" placeholder="" formControlName="formTime" #time/>
      </mat-form-field>
    </div>
  </div>  

  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="!meetingForm.valid" (click)="save()">Salvar</button>
  </div>
</form>  